{include file="public/_meta" /}
<title>角色管理</title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray"> 
        	 <span class="l">
        		<a class="btn btn-primary radius" href="javascript:;" onclick="create('0','roleAdd','添加角色')"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a>
        	</span>
        </div>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="6">角色管理</th>
                </tr>
                <tr class="text-c">
                    <th width="40">ID</th>
                    <th width="200">角色名</th>
                    <th width="300">描述</th>
                    <th width="70">操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name="list" id="vo"}
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td>{$vo.ro_name}</td>
                    <td>{$vo.ro_description}</td>
                    <td class="f-14"><a title="编辑" href="javascript:;" onclick="create({$vo.id},'roleAdd','角色修改')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> </td>
                </tr>
                {/volist}
            </tbody>
        </table>
    </div>
    {include file="public/_footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/static/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    function create(id, url, key) {
        var url = "{:url('" + url + "')}?id=" + id;
        creatIframe(url, key);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj, id) {
        layer.confirm('角色删除须谨慎，确认要删除吗？', function(index) {
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', { icon: 1, time: 1000 });
                },
                error: function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    </script>
</body>

</html>