{include file="public/_meta" /}

<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<input type="text" class="hidden" name="id" value="{$info.id|default=''}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.ro_name|default=''}" name="ro_name" style="width:20%">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.ro_description|default=''}" name="ro_description" style="width:20%">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">拥有权限：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{volist name="ru_list" id="vo"}
				<dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="{$vo.id}" name="rules[]" id="user-Character-1" class="authrule">{$vo.title}
						</label>
					</dt>
					<dd>
						<dl class="cl permission-list2">
							<dd>
								{volist name="vo['child']" id="sub"}
								<label class="">
									<input type="checkbox" value="{$sub.id}" name="rules[]" id="user-Character-1-0-0" class="authrule">
									{$sub.title}</label>
								{/volist}
							</dd>
						</dl>
					</dd>
				</dl>
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save" onclick="return add()"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>
{include file="public/_footer"/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
		//选中验证节点
		var rules = [{$info.ro_rules|default=""}];
		console.log(rules);
		$('.authrule').each(function(){
			if( $.inArray( parseInt(this.value,10),rules )>-1 ){
				$(this).attr('checked',true);
			}
		});
	

});

function add(){
	var title       = $('input[name="ro_name"]').val();
	var description = $('input[name="ro_description"]').val();
	if(title == ''){layer.msg('请完善信息');}

	$.post("{:url('roleIndex')}",$('form').serialize()).success(function(data){
		layer.msg(data.msg);
		if(data.code){
			setTimeout(function(){
				var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);
			},500);
			
		}
	});
	return false;
}



</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>