{include file="public/_meta" /}
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<div class="f-14 c-error" style="margin:20px auto;">特别声明：为避免一些兼容问题，建议您使用Chrome浏览器、及含有急速内核的浏览器等打开本后台。</div>

	<!-- {if condition="$Think.session.admin.id eq 1"} -->
	<!-- 会员信息统计 -->
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th colspan="8" scope="col" >信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>会员</th>
				<th>商家</th>
				<th>系统服务商</th>
				<th>超级节点</th>

				<!-- <th>今日新进</th>
				<th>本月新进</th> -->
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>{$data.all}</td>
				<td>{$data.pt}</td>
				<td>{$data.one}</td>
				<td>{$data.two}</td>
<!--				<td>{$data.three}</td>-->
				<!-- <td>{$data.today}</td>
				<td>{$data.month}</td> -->
			</tr>
		</tbody>
	</table>
	<!-- 账户金额信息 -->
	<!-- <table class="table table-border table-bordered table-bg" style="margin-top: 20px;">
		<thead>
			<tr class="text-a">
				<th>统计</th>
				<th>s数目</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-a">
				<td>购物币</td>
				<td>2</td>
			</tr>
			<tr class="text-a">
				<td>今日购买</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>佣金</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>今日提现</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>订单</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>今日完成</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>订单金额</td>
				<td>3</td>
			</tr>
			<tr class="text-a">
				<td>今日金额</td>
				<td>3</td>
			</tr>
		</tbody>
	</table>
	{/if} -->
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
<!--				<th colspan="2" scope="col">服务器信息</th>-->
				<th width="30%" scope="col">服务器操作系统</th>
				<td style="margin-left: 10px;">{$data.server}</td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器域名</th>
				<td><span id="lbServerName">{$data.server_name}</span></td>
			</tr>
			<tr>
				<th width="30%">PHP版本</th>
				<td>{$data.language}</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
<!--	<div>本后台由赛斯特科技提供技术支持</div>-->
</footer>
<script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/static/admin/static/h-ui/js/H-ui.min.js"></script> 

</body>
</html>