<aside class="Hui-aside" style="background: #FDF5F2;">
	<div class="menu_dropdown bk_2 sidebar">
		<!-- 管理员 -->
		<dl id="menu-system" class="guanli">
			<dt data-node-id="1" class="rule_node"><i class="Hui-iconfont">&#xe62d;</i> 管理列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="2" class="rule_node"><a data-href="{:url('Admin/index')}" data-title="管理员" href="javascript:void(0)">管理员</a></li>
					<li data-node-id="7" class="rule_node"><a data-href="{:url('Admin/roleIndex')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
				</ul>
			</dd>
		</dl>
		<!-- 用户管理 -->
		<dl id="menu-admin">
			<dt data-node-id="9" class="rule_node"><i class="Hui-iconfont">&#xe6cc;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="10" class="rule_node"><a data-href="{:url('User/index')}" data-title="用户列表" href="javascript:void(0)">所有会员列表</a></li>
				</ul>
				<ul>
					<li data-node-id="15" class="rule_node"><a data-href="{:url('User/apply')}" data-title="商户申请列表" href="javascript:void(0)">商户申请列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-member">
			<dt data-node-id="28" class="rule_node"><i class="Hui-iconfont">&#xe620;</i> 服务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="29" class="rule_node"><a data-href="{:url('product/cate')}" data-title="分类列表" href="javascript:;">服务分类</a></li>
					<li data-node-id="33" class="rule_node"><a data-href="{:url('product/index')}" data-title="服务列表" href="javascript:void(0)">服务列表</a></li>
<!--					<li data-node-id="34" class="rule_node"><a data-href="{:url('product/skus')}" data-title="服务规格" href="javascript:void(0)">服务规格</a></li>-->
				</ul>
			</dd>
		</dl>
		<!-- 商家管理 -->
		<dl id="menu-comments">
			<dt data-node-id="38" class="rule_node"><i class="Hui-iconfont">&#xe687;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="39" class="rule_node"><a data-href="{:url('Order/index')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
				</ul>
			</dd>
		</dl>

		<!--投票管理-->
		<dl id="menu-vote">
			<dt data-node-id="50" class="rule_node"><i class="Hui-iconfont">&#xe6cc;</i> 投票管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="51" class="rule_node"><a data-href="{:url('Vote/index')}" data-title="投票列表" href="javascript:void(0)">投票列表</a></li>
				</ul>
				<ul>
					<li data-node-id="52" class="rule_node"><a data-href="{:url('Vote/vote')}" data-title="发起投票" href="javascript:void(0)">发起投票</a></li>
				</ul>
			</dd>
		</dl>

		<!--道具管理-->
		<dl id="menu-tools">
			<dt data-node-id="53" class="rule_node"><i class="Hui-iconfont">&#xe6cc;</i> 道具管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="54" class="rule_node"><a data-href="{:url('Tools/index')}" data-title="道具列表" href="javascript:void(0)">道具列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-comment">
			<dt data-node-id="41" class="rule_node"><i class="Hui-iconfont">&#xe6b7;</i> 财务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
<!--					<li data-node-id="42" class="rule_node"><a data-href="{:url('profit/commissionapply')}" data-title="提现申请" href="javascript:void(0)">提现申请</a></li>-->
<!--					<li data-node-id="43" class="rule_node"><a data-href="{:url('profit/commission')}" data-title="提现审核" href="javascript:void(0)">提现审核</a></li>-->
<!--					<li data-node-id="53" class="rule_node"><a data-href="{:url('profit/commissionrecord')}" data-title="提现记录" href="javascript:void(0)">提现记录</a></li>-->
					<li data-node-id="54" class="rule_node"><a data-href="{:url('profit/birecord')}" data-title="财务明细" href="javascript:void(0)">财务明细</a></li>
					<li data-node-id="56" class="rule_node"><a data-href="{:url('profit/fb')}" data-title="法币交易" href="javascript:void(0)">法币交易</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-systems" class="guanli super" >
			<dt data-node-id="44" class="rule_node" ><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="45" class="rule_node"><a data-href="{:url('setting/index')}" data-title="基本设置" href="javascript:void(0)">基本设置</a></li>					
					<li data-node-id="46" class="rule_node"><a data-href="{:url('setting/award')}" data-title="会员等级设置" href="javascript:void(0)">会员等级设置</a></li>
					<li data-node-id="47" class="rule_node"><a data-href="{:url('setting/shuffling')}" data-title="主页轮播" href="javascript:void(0)">主页轮播</a></li>
<!--					<li data-node-id="52" class="rule_node"><a data-href="{:url('News/index')}" data-title="客户留言" href="javascript:void(0)">客户留言</a></li>-->
					<li data-node-id="54" class="rule_node"><a data-href="{:url('setting/log')}" data-title="操作日志" href="javascript:void(0)">操作日志</a></li>

				</ul>
			</dd>
		</dl>


	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick=""></a></div>