{include file="public/_meta" /}
<title></title>
<style type="text/css">
    .inp {
        width: 150px;
        height: 25px;
    }
    .inp:focus {
        outline:none;
        border: 1px solid red;
    }
</style>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>会员管理 <span class="c-gray en">&gt;</span> 会员列表
    <!-- <a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:void(0);" onclick="downdo()" title="下载" ><i class="Hui-iconfont">&#xe640;</i></a>&nbsp;&nbsp; -->
    <a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;margin-right:6px " onclick="excel()" title="导出"><i class="Hui-iconfont">&#xe644;</i></a>
</nav>
<div class="page-container">
    <div class="text-c">
        <form class="Huiform" method="get" action="" target="_self">
            操作类型：
            <span class="select-box inline">
			<select name="style" class="select">
				<option value="">全部</option>
				<option value="1">查询</option>
				<option value="2">修改</option>
				<option value="3">添加</option>
                <option value="4">删除</option>
			</select>
		</span>&nbsp;&nbsp;
            <input type="text" class="input-text" style="width:150px" placeholder="操作者" name="role_name" value="{$Request.get.role_name|default=''}">
            日期范围：
            <input type="text" class="input-text Wdate" name="start" id="countTimestart" onfocus="selecttime(1)" value="{$Request.get.start|default=''}" size="17" class="date" readonly style="width:140px;">
            -
            <input type="text" class="input-text Wdate" name="end" id="countTimeend" onfocus="selecttime(2)" value="{$Request.get.end|default=''}" size="17"  class="date" readonly style="width:140px;">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">

        <span class="r" style="margin: 10px">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border  table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th>操作者</th>
                <th>操作URL</th>
                <th>类型</th>
                <th>备注信息</th>
                <th>操作时间</th>
                <th>相关用户</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id="vo"}
            <tr class="text-c">
                <td>{$vo.role_name}</td>
                <td>{$vo.action_url}</td>
                <td>{$vo.style_text}</td>
                <td>{$vo.note}</td>
                <td>{$vo.add_time}</td>
                <td>{$vo.user_id_text}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
    </div>
    {include file="public/_footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript">
        $('select[name="style"]').val({$Request.get.style});
        $('select[name="role_name"]').val({$Request.get.role_name});


        function create(id,url,key){
            var url = "{:url('"+url+"')}?id="+id;
            creatIframe(url,key);
        }

        function del(id){
            layer.confirm('确定要删除么？', {
                btn: ['确定', '取消']
            }, function(index, layero){
                $.ajax({
                    type: "post",
                    url: "{:url('delete')}",
                    data: {id:id},
                    success: function(data) {
                        layer.msg(data.msg);
                        setTimeout("window.location=\"{:url('User/index')}\"",500);
                    }
                });
            });
        }
        function selecttime(flag){
            if(flag==1){
                var endTime = $("#countTimeend").val();
                if(endTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }else{
                var startTime = $("#countTimestart").val();
                if(startTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }
        }
    </script>
</body>
</html>