{include file="public/_meta" /}
<title></title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>代理抢购管理 <span class="c-gray en">&gt;</span> 抢购列表 
	<!-- <a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:void(0);" onclick="downdo()" title="下载" ><i class="Hui-iconfont">&#xe640;</i></a>&nbsp;&nbsp; -->
	<a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<!-- <div class="text-c">
	<form class="Huiform" method="get" action="" target="_self">
		状态：
		<span class="select-box inline">
			<select name="status" class="select">
				<option value="">全部</option> 
				<option value="1">申请中</option> 
				<option value="2">成功</option>
				<option value="3" style="color:red;">失败</option>
			</select>
		</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text" class="input-text" style="width:150px" placeholder="昵称、账号、手机号" id="" name="keywords" value="{$Request.get.keywords|default=''}">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</form>
	</div> -->
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">				
				<!-- <th>用户名</th> -->
				<th>姓名</th>
				<th>账号</th>
				<th>申请人姓名</th>
				<th>申请身份证</th>
				<th>申请店铺名</th>
				<th>申请店铺电话</th>
				<th>申请理由</th>
				
				
				<th>状态</th>
				
				
				
				<th>申请时间</th>
				<th>审批操作</th>

			</tr>
		</thead>
		<tbody>
			{volist name='list' id="vo"}
				<tr class="text-c">
					<td>{$vo.us_nickname}</td>
					<td>{$vo.us_account}</td>
					<td>{$vo.us_name}</td>
					<td>{$vo.us_id_card}</td>
					<td>{$vo.us_apply_shopname}</td>
					<td>{$vo.us_apply_tel}</td>
					<td>{$vo.us_reason}</td>
					<!-- <td>{$vo.us_name}</td> -->
					
					
					<td>{$vo.us_level_text}</td>	
														
					
					
					<td>{$vo.us_apply_time}</td>
					<td class="td-manage">	
						<a href="javascript:;" onclick="change({$vo.id},2,'merchant_status')">[通过]</a>
						<a href="javascript:;" onclick="change2({$vo.id},3,'merchant_status')">[驳回]</a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$('select[name="status"]').val({$Request.get.status});
$('select[name="gave_status"]').val({$Request.get.gave_status});

function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}

function change(id,value,key){
	layer.confirm('确定要审批么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('change')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	             	if(data.code){
	             		layer.msg('审批成功');
	             		setTimeout("window.location='';",500);
	             	}
	            }
	        });
	    });
}
function change2(id,value,key){
	layer.confirm('确定要驳回么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('change')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	             	if(data.code){
	             		layer.msg('驳回成功');
	             		setTimeout("window.location='';",500);
	             	}
	            }
	        });
	    });
}
function settle(id){
	layer.confirm('确定要结算么？', {
	      btn: ['确定', '取消']
	    }, function(){
	        $.ajax({
	            type: "post",
	            url: "{:url('settle')}",
	            data: {id:id},
	            async:true,
	            success: function(data) {
	             	if(data.code){
	             		layer.msg(data.msg);
	             		setTimeout("window.location='';",500);
	             	}
	            }
	        });
	    });
}

function del(id){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('delete')}",
            data: {id:id},
            success: function(data) {            	
                layer.msg(data.msg);
                setTimeout("window.location=\"{:url('User/index')}\"",500);
            }
        });
    });
}	
</script> 
</body>
</html>