{include file="public/_meta" /}
<title></title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>门店管理 <span class="c-gray en">&gt;</span> 门店列表 
	<a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
	<form class="Huiform" method="get" action="" target="_self">
		状态：
		<span class="select-box inline">
			<select name="st_status" class="select">
				<option value="">全部</option> 
				<option value="1">正常</option> 
				<option value="0" style="color:red;">被禁用</option>
			</select>
		</span>&nbsp;&nbsp;
		<span class="select-box inline">
			<select name="area_id"  class="select">
                <option value="">选择所属区域</option>
                {volist name="area_list" id="vo"}
                    <option value="{$vo.id}">{$vo.area_name}</option>
                {/volist}
            </select>
		</span>
		<input type="text" class="input-text" style="width:150px" placeholder="店名、编号" id="" name="keywords" value="{$Request.get.keywords|default=''}">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="create(0,'add','添加门店')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 门店</a>
		</span> 
		<span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">				
				<th>门店名称</th>
				<th>门店编号</th>
				<th>所属区域</th>
				<th>会员昵称</th>
				<th>会员手机</th>
				<th>门店电话</th>
				<th>门店LOGO</th>
				<th>门店描述</th>
				<th>门店状态</th>
				<th>添加时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id="vo"}
				<tr class="text-c">
					<td>{$vo.st_name}</td>
					<td>{$vo.st_num}</td>
					<td>{$vo.area_name}</td>
					<td>{$vo.us_nickname}</td>
					<td>{$vo.us_tel}</td>
					<td>{$vo.st_tel}</td>
					<td><img src="{$vo.st_logo}" alt="" style="width:50px;height:50px"></td>
					<td>{$vo.st_description}</td>									
					<td class="td-status">
					{if condition="$vo.st_status eq 1"}
						<span class="label label-success radius">已启用</span>
					{else/}
						<span class="label label-default radius">已禁用</span>
					{/if}
					</td>					
					<td>{$vo.add_time}</td>								
					<td class="td-manage">					
						<!-- <a style="text-decoration:none" onclick="record({$vo.id},'edit','会员详情')"  title="会员详情"><i class="Hui-iconfont">&#xe6c6;</i></a> -->
						{if condition="$vo.st_status eq 1"}
						<a style="text-decoration:none" onClick="change({$vo.id},0,'st_status')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
						{else/}
						<a onClick="change({$vo.id},1,'st_status')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>
						{/if}
						<!-- <a title="定位" href="javascript:;" onclick="create({$vo.id},'positioning','门店定位')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe671;</i></a> -->
						<a title="编辑" href="javascript:;" onclick="create({$vo.id},'edit','修改信息')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" onclick="del({$vo.id},'Store')" title="删除"><i class="Hui-iconfont">&#xe706;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$('select[name="st_status"]').val({$Request.get.st_status});
$('select[name="area_id"]').val({$Request.get.area_id});

function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}

function change(id,value,key){
	layer.confirm('确定要更改么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('change')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	             	if(data.code){
	             		location.href = '';
	             	}
	            }
	        });
	    });
}

function del(id,key){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('dodelete')}",
            data: {id:id,key:key},
            success: function(data) {
                layer.msg(data.msg);
                if(data.code==1){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        });
    });
}	
</script> 
</body>
</html>