{include file="public/_meta" /}
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>商品管理 <span class="c-gray en">&gt;</span> 商品规格 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="create(0,'sku_add','添加商品规格')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 规格</a>
		</span>
		 </div>
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th>ID</th>
				<th>规格名称</th> 
				<th>价格</th>
				<th>所属商品id</th>
				<th>商品名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.sku_name}</td>		
					<td>{$vo.sku_price}</td>									
					<td>{$vo.pd_id}</td>
					<td>{$vo.pd_name}</td>
					<td class="td-manage">						
						<a style="text-decoration:none" onclick="del({$vo.id},'Skus')" title="删除"><i class="Hui-iconfont">&#xe706;</i></a>
						<a style="text-decoration:none" onclick="create({$vo.id},'skus_edit','修改规格')" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>						
					</td>
				</tr>				
			{/volist}
		</tbody>

	</table>
	
	</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}
function change(id,value,key){
	layer.confirm('确定要更改么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('catechange')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	             	if(data.code){
	             		location.href = '';
	             	}
	            }
	        });
	    });
}

function del(id,key){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('skusdelete')}",
            data: {id:id,key:key},
            success: function(data) {
                layer.msg(data.msg);
                if(data.code==1){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        });
    });
}

function eee(dada) {
        var data = new FormData();
        data.append('file', dada[0].files[0]);
        var index = layer.load(1, { shade: false }); //0代表加载的风格，支持0-2
        $.ajax({
            url: '{:url("upload")}',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                layer.msg(data.msg);
                if (data.code) {
                    $('.logo').attr('src',data.data);
                    $('input[name="pd_head_pic"]').val(data.data);
                }
                layer.close(index);
            },
            error: function() {
                layer.close(index);
                layer.msg('上传出错');
            }
        });
    }
    function cate_pic(id,value,key){	
    $.ajax({
        type: "post",
        url: "{:url('catechange')}",
        data: {id:id,value:value,key:key},
        success: function(data) {
         	if(data.code){
         		location.href = '';
         	}
        }
    });
}
</script>
</body>
</html>
