{include file="public/_meta" /}
<title></title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>财务管理 <span class="c-gray en">&gt;</span> 财富记录<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;margin-right:6px " onclick="excel()" title="导出"><i class="Hui-iconfont">&#xe644;</i></a>
    </nav>
    <div class="page-container">
        <div class="text-c">
            <form class="Huiform" method="get" action="">
                <!-- 类型：
                <span class="select-box inline">
                <select name="wa_type" class="select">
                    <option value="">全部</option> 
                    <option value="1">maomao</option> 
                    <option value="0" style="color:red;">被禁用</option>
                </select> -->
            </span>
                <input type="text" class="input-text" style="width:150px" placeholder="用户姓名、手机号" id="" name="keywords" value="{$Request.get.keywords|default=''}">
                日期范围：
                <input type="text" class="input-text Wdate" name="start" id="countTimestart" onfocus="selecttime(1)" value="{$Request.get.start|default=''}" size="17" class="date" readonly style="width:140px;"> 
                - 
                <input type="text" class="input-text Wdate" name="end" id="countTimeend" onfocus="selecttime(2)" value="{$Request.get.end|default=''}" size="17"  class="date" readonly style="width:140px;">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border  table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>id</th>
                        <th>账户姓名</th>
                        <th>提现姓名</th>
                        <th>到账金额</th>
                        <th>类型</th>
                        <th>账号</th>
                        <th>开户银行</th>
                        <th>状态</th>
                        <th>申请时间</th>
                        <th>审核时间</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.us_nickname}</td>
                        <td>{$vo.tx_name}</td>
                        <td>{$vo.tx_num}</td>
                        <td>{$vo.tx_type_text}</td>
                        <td>{$vo.tx_account}</td>
                        <td>{$vo.bank_name}</td>
                        <td>{$vo.tx_status_text}</td>
                        <td>{$vo.tx_apply_time}</td>
                        <td>{$vo.tx_add_time}</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
        </div>
        {include file="public/_footer" /}
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
        <script type="text/javascript">
        $('select[name="wa_type"]').val({$Request.get.wa_type});

        function create(id, url, key) {
            var url = "{:url('" + url + "')}?id=" + id;
            creatIframe(url, key);
        }

        function change(id, value, key) {
            layer.confirm('确定要更改么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('index')}",
                    data: { id: id, value: value, key: key },
                    success: function(data) {
                        if (data.code) {
                            location.href = '';
                        }
                    }
                });
            });
        }

        function del(id, key) {
            layer.confirm('确定要删除么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('Every/allDel')}",
                    data: { id: id, key, key },
                    success: function(data) {
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            setTimeout(function() {
                                location.href = data.url;
                            }, 1000);
                        }
                    }
                });
            });
        }
        function selecttime(flag){
            if(flag==1){
                var endTime = $("#countTimeend").val();
                if(endTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }else{
                var startTime = $("#countTimestart").val();
                if(startTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }
         }
         function excel(){
            var url = "{:url('excel')}";
            creatIframe(url,'表格导出');
        }
        </script>
</body>

</html>