{include file="public/_meta" /}
<link href="/static/admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>会员管理 <span class="c-gray en">&gt;</span> 会员详情 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">ID：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text"  style="width:24%">{$info['id']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">头像：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div style="width:110px;height: 110px;position: relative;display: inline-block; ">
                    {if condition="$info.us_head_pic"}
                        <img src="{$info.us_head_pic}" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {else}
                        <img src="/static/admin/img/add0.png" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {/if}
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">账户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text"  style="width:24%">{$info['us_account']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_nickname']}</p>
            </div>
        </div>        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">推荐人(手机号)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_pid_text']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">手机号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_tel']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_name']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">身份证号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_id_card']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">银行名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_bank']}</p>
            </div>
        </div>
        
       
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">身份证正面：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div style="width:300px;height: 188px;position: relative;display: inline-block; ">
                    {if condition="$info.us_card_front_pic"}
                        <img src="{$info.us_card_front_pic}" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {else}
                        <img src="/static/admin/img/add1.png" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {/if}
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">身份证背面：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div style="width:300px;height: 188px;position: relative;display: inline-block; ">
                    {if condition="$info.us_card_reverse_pic"}
                        <img src="{$info.us_card_reverse_pic}" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {else}
                        <img src="/static/admin/img/add1.png" class="logo" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;">
                    {/if}
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">申请分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_ca_name_text']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所在地区：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_addr_addr']}</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">申请理由：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p type="text" class="input-text" style="width:24%">{$info['us_reason']}</p>
            </div>
        </div>
	</form>
</div>

{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">

function savePro(){
    $.post('{:url("edit")}',$('#form-article-add').serialize()).success(function(data){
    	layer.msg(data.msg);
    	if(data.code){
    		setTimeout(function(){
    			location.href = data.url;
    		},500);
    	}
    });
    return false;
}
function eee(dada) {
        var data = new FormData();
        data.append('file', dada[0].files[0]);
        var index = layer.load(1, { shade: false }); //0代表加载的风格，支持0-2
        $.ajax({
            url: '{:url("store/upload")}',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                layer.msg(data.msg);
                if (data.code) {
                    $('.logo').attr('src',data.data);
                    $('input[name="us_head_pic"]').val(data.data);
                }
                layer.close(index);
            },
            error: function() {
                layer.close(index);
                layer.msg('上传出错');
            }
        });
    }
</script>
</body>
</html>