{include file="public/_meta" /}
<title></title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>会员列表 <span class="c-gray en">&gt;</span> 账户明细<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="text-c">
            <!-- <form class="Huiform" method="get" action="">
            </span>
                日期范围：
                <input type="text" class="input-text Wdate" name="start" id="countTimestart" onfocus="selecttime(1)" value="{$Request.get.start|default=''}" size="17" class="date" readonly style="width:140px;"> 
                - 
                <input type="text" class="input-text Wdate" name="end" id="countTimeend" onfocus="selecttime(2)" value="{$Request.get.end|default=''}" size="17"  class="date" readonly style="width:140px;">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form> -->
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">总收益：<strong>{$nums.0}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报单收益：<strong>{$nums.1}</strong> &nbsp;&nbsp;&nbsp;&nbsp;复购收益：<strong>{$nums.2}</strong>&nbsp;&nbsp;&nbsp;&nbsp;特惠专区收益：<strong>{$nums.3}</strong>&nbsp;&nbsp;&nbsp;&nbsp;分红收益：<strong>{$nums.4}</strong></span>
            <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border  table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>会员</th>
                        <th>奖励额度</th>
                        <!-- <th>现金积分</th> -->
                        <th>说明</th>
                        <th>时间</th>
                        <!-- <th>操作</th> -->
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id="vo"}
                    <tr class="text-c">
                        <td>{$vo.us_nickname}</td>
                        <td>{$vo.wa_num}</td>                       
                        <!-- <td>{if condition = "$vo.wa_type eq 1"}-{/if}{$vo.get_bi}</td> -->
                        <td>{$vo.wa_note}</td>
                        <td>{$vo.add_time}</td>
                       <!--  <td><a style="text-decoration:none" onclick="cancelbi({$vo.id})" title="取消该奖励"><i class="Hui-iconfont">[取消该奖励]</i></a></td> -->
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
        </div>
        {include file="public/_footer" /}
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
        <script type="text/javascript">
        $('select[name="wa_type"]').val({$Request.get.wa_type});
        function cancelbi(id){
            layer.confirm('确定要取消该奖励吗？', {
                  btn: ['确定', '取消']
                }, function(index, layero){
                    $.ajax({
                        type: "post",
                        url: "{:url('profit/cancelbi')}",
                        data: {id:id},
                        success: function(data) {
                            layer.msg(data.msg);
                            if(data.code){
                                setTimeout("window.location='';",1000);
                                //location.href = '';
                            }
                        }
                    });
                });
        }
        function selecttime(flag){
            if(flag==1){
                var endTime = $("#countTimeend").val();
                if(endTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }else{
                var startTime = $("#countTimestart").val();
                if(startTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }
         }
        </script>
</body>

</html>